main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    font-family: system-ui;
}

main img {
    max-width: 640px;
    max-height: auto;
}
/* section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;

}

section img {
    max-width: 320px;
    max-height: auto;
} */
